<h2>Soal 1: Comparison Operator</h2>

- Berikan contoh comparison dari tipe data string
- Berikan contoh comparison dari tipe data boolean
- Berikan contoh comparison dari tipe data integer

Comparison operator dari tipe data string ada 6, yaitu '==', '!=', '<', '>', '<=', dan '>='.
Comparisan operator dari tipe data string memeriksa karakter per karakter yang terdapat pada posisi yang sama pada string di sebelah kiri dan kanan operator. Karakter yang muncul terlebih dahulu pada urutan alphabet bernilai lebih kecil dari pada karakter yang muncul setelahnya. Contohnya sebagai berikut:

In [6]:
print("Jeruk"=="Jeruk")  #akan bernilai True karena string di kiri sama persis dengan yang di kanan operator.
print("Jeruk"<"Apel")   #akan bernilai False, karena dalam urutan alphabet, huruf A muncul terlebih dahulu dari pada huruf J, sehingga "Apel" akan lebih kecil dari pada "Jeruk".

True
False

Comparison operator dari tipe data boolean ada 3, yaitu 'and', 'or', dan 'not'. Contohnya sebagai berikut:

In [9]:
print(1<2 and 3>5)  #akan bernilai False karena salah satu pernyataan bernilai False.
print(3==4 or 3<6)   #akan bernilai True karena salah satu pernyataan bernilai True.
print(not(2==6))   #akan bernilai True karena pernyataan yang dinilai (2==6) bernilai False.

False
True
True

Comparison operator dari tipe data string ada 6, yaitu '==', '!=', '<', '>', '<=', dan '>='. Contohnya sebagai berikut:

In [12]:
print(6==6)   #akan bernilai True
print(9!=5)   #akan bernilai True
print(4>7)   #akan bernilai False
print(4<=4)  #akan bernilai True

True
True
False
True

<h2>Soal 2: Boolean Comparison</h2>

- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'and'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'or'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'not'

In [15]:
print('Amanda'=='Manda' and 10>6)
print('Amanda'=='amanda' or 9>5)
print(not('Amanda'<'Manda'))

False
True
False



---



---

<h2>Soal 3: If-Else Statement</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

- Bualah sebuah if-else statement yang dimana akan mem-print 'High' jika grade adalah 'A' dan price lebih dari 100000, kemudian mem-print 'Medium' jika grade adalah 'A' dan price lebih dari 50000 dan memprint 'low' jika grade adalah 'A' dan price lebih kecil dan sama dengan 50000.

In [16]:
#code here
grade = input('grade: ')
price = int(input('price'))
if grade=='A':
    if price>100000:
        print('High')
    elif price>50000:
        print('Medium')
    else:
        print('low')
else:
    pass

grade: A
price20000
low



---



---

<h2>Soal 4: Comparison Operator dengan fungsi</h2>

Buatlah sebuah fungsi yang menerima satu argument bertipe data numeric dan menghasilkan sebuah return sebagai berikut :
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan ganjil
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 2 sampai 5 (2 dan 5 termasuk)
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 6 sampai 20 (6 dan 20 termasuk)
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan lebih besari dari 20

In [24]:
# Buat fungsi
def cek(num):
    if num%2!=0 or (6<=num<=20 and num%2==0):
        cek_num = 'Aneh'
    elif num%2==0 and (2<=num<=5 or num>20):
        cek_num = 'Tidak Aneh'
    else:
        pass
    return cek_num

print(cek(4))
print(cek(13))
print(cek(1))

Tidak Aneh
Aneh
Aneh



---



---

<h2>Soal 5: While Loop dan For Loop</h2>

- Apa perbedaan while loop dan for loop?
- Berikan contoh sederhana cara menggunakan while loop dan for loop

Perbedaannya adalah pada while loop, iterasi akan terus berulang dan tidak tentu sampai seberapa banyak perulangannya, akan berhenti ketika suatu kriteria telah dipenuhi. Sedangkan pada foor loop, banyaknya iterasi sudah ditentukan.

In [26]:
# jawaban contoh
i=0
while i<10:
    print('i = ', i)
    i+=1

i =  0
i =  1
i =  2
i =  3
i =  4
i =  5
i =  6
i =  7
i =  8
i =  9

In [27]:
for x in range(10):
    print('x = ', x)

x =  0
x =  1
x =  2
x =  3
x =  4
x =  5
x =  6
x =  7
x =  8
x =  9



---



---

<h2>Soal 6: While Loop</h2>
    
Buatlah sebuah code while loop sebagai berikut :
- Buatlah suatu fungsi yang menerima satu input nilai numerik
- Dalam fungsi, Buat sebuah while-loop dengan melakukan comparasi terhadap inputan tersebut, dimana looping/iterasi terus berjalan apabila nilai inputan tidak sama dengan 0
- Dalam setiap iterasi update nilai variable inputan itu, jika input lebih dari 0, maka kurangi variabel tersebut sebesar 1, selain itu tambahkan 1
- print nilai variable input dalam setiap awal iterasi

In [36]:
def fungsi_while(a):
    while a!=0:
        print(a)
        if a>0:
            a-=1
        else:
            a+=1
        
    return
        
print('jika a = 10')
fungsi_while(10)

print('jika a = -10')
fungsi_while(-10)

jika a = 10
10
9
8
7
6
5
4
3
2
1
jika a = -10
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Expected Output:

jika a = 10                           

10                                   
9                      
8   
7   
6  
5  
4  
3  
2  
1

jika a = -10

-10                                   
-9                        
-8  
-7  
-6  
-5  
-4  
-3  
-2  
-1



---



---

<h2>Soal 7: For Loop</h2>

Lengkapi kode untuk menghasilkan suatu output yang diharapkan:





*   Cari siswa mana saja yang memiliki nilai lebih dari sama dengan 80. Masukkan kedalam sebuah list. print hasilnya

In [38]:
data_siswa = [
    {
        "nama":"Budi",
        "nilai": 90
    },
    {
        "nama":"Nina",
        "nilai": 78
    },
    {
        "nama":"Rudi",
        "nilai": 91
    },
    {
        "nama":"Olivia",
        "nilai": 76
    },
    {
        "nama":"Leo",
        "nilai": 80
    },
    {
        "nama":"Liam",
        "nilai": 67
    },
    {
        "nama":"Sheila",
        "nilai": 76
    }
]

In [41]:
#code here
siswa=[]
for data in data_siswa:
    if data["nilai"]>=80:
        siswa.append(data["nama"])
    else:
        pass
print(siswa)

['Budi', 'Rudi', 'Leo']

Expected output:

['Budi', 'Rudi', 'Leo']



---



---

<h2>Soal 8: For Loop Enumerate</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan:

- Buatlah sebuah loop dengan mengiterasi sebuah objek list kemudian di kalikan dengan index dari list tersebut dan print hasilnya

In [42]:
obj_list= [1, 16, 11, 10, 5]

# lengkapi code di bawah
for index, num in enumerate(obj_list):
    print(index*num)

0
16
22
30
20

Expected Output:

0

16

22

30

20



---



---